{%- comment -%}
  Custom template for publications:
  - removes file_exists hook
  - bolds your name
  - shows icons if fields are present
{%- endcomment -%}

{%- assign me_variants = 'Feiqing Huang|Huang, Feiqing|Amiee Huang' | split: '|' -%}
{%- capture authors_html -%}
  {{ entry.author }}
{%- endcapture -%}
{%- for v in me_variants -%}
  {%- assign authors_html = authors_html | replace: v, '<strong>' | append: v | append: '</strong>' -%}
{%- endfor -%}

<li class="bibliography-item">
  <div class="bibliography-content">
    <div class="csl-entry">
      {{ authors_html | markdownify | remove: '<p>' | remove: '</p>' }}
      {% if entry.year %} ({{ entry.year }}){% endif %}.
      {% if entry.url or entry.website %}
        <a href="{{ entry.url | default: entry.website }}">{{ entry.title }}</a>.
      {% else %}
        {{ entry.title }}.
      {% endif %}
      {%- if entry.journal %}
        <em>{{ entry.journal }}</em>
      {%- endif -%}
      {%- if entry.booktitle %}
        In <em>{{ entry.booktitle }}</em>
      {%- endif -%}
    </div>

    <div class="pub-links" style="margin-top: .35rem;">
      {%- if entry.pdf -%}
        <a class="btn btn-sm btn-outline-primary" href="{{ entry.pdf }}"><i class="fas fa-file-pdf"></i> PDF</a>
      {%- endif -%}
      {%- if entry.code -%}
        <a class="btn btn-sm btn-outline-primary" href="{{ entry.code }}"><i class="fas fa-code"></i> Code</a>
      {%- endif -%}
      {%- if entry.dataset -%}
        <a class="btn btn-sm btn-outline-primary" href="{{ entry.dataset }}"><i class="fas fa-database"></i> Dataset</a>
      {%- endif -%}
      {%- if entry.slides -%}
        <a class="btn btn-sm btn-outline-primary" href="{{ entry.slides }}"><i class="fas fa-desktop"></i> Slides</a>
      {%- endif -%}
      {%- if entry.video -%}
        <a class="btn btn-sm btn-outline-primary" href="{{ entry.video }}"><i class="fas fa-video"></i> Video</a>
      {%- endif -%}
      {%- if entry.project -%}
        <a class="btn btn-sm btn-outline-primary" href="{{ entry.project }}"><i class="fas fa-link"></i> Project</a>
      {%- endif -%}
      {%- if entry.doi -%}
        <a class="btn btn-sm btn-outline-primary" href="https://doi.org/{{ entry.doi }}"
          ><i class="fas fa-link"></i> DOI</a
        >
      {%- endif -%}
      {%- if entry.website -%}
        <a class="btn btn-sm btn-outline-primary" href="{{ entry.website }}"><i class="fas fa-globe"></i> Website</a>
      {%- endif -%}
    </div>
  </div>
</li>
